body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 70px;
}

.buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

button {
  padding-inline: 20px;
  padding-block: 10px;
  border-radius: 5px;
  border: none;
  color: white;
}

.add-height {
  background-color: green;
}

.sort-height {
  background-color: orange;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
