body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 75px;
}

input {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  width: 15%;
  border-radius: 5px;
  border: none;
  outline: 1px solid lightgrey;
}

select {
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 50px;
}

p {
  background-color: lightcoral;
  width: 30%;
  height: 250px;
  border: 4px solid lightslategray;
  border-radius: 20px;
  padding: 60px 40px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  overflow-y: scroll;
  scrollbar-width: none;
}
