body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px;
}

.progress-bar-container {
  width: 500px;
  height: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background: purple;
  width: 500px;
  transform: scaleX(0);
  transform-origin: left;
}
