body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  padding: 20px;
  position: relative;
  min-height: 100dvh;
  margin: 0;
  overflow: hidden;
}

.container {
  /* outline: 1px solid red; */
}

.delivery-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.delivery-card {
  position: relative;
  width: 250px;
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 20px;
  padding: 10px;
  border-radius: 10px;
}

.delivery-card[data-status="delivery"] {
  /*  */
}

.delivery-card[data-status="delivered"] {
  outline: 3px solid seagreen;
}

.delivery-card[data-status="cancelled"] {
  opacity: 0.5;
}

.edit-button {
  position: absolute;
  top: 8px;
  right: 8px;

  border: none;
  background-color: transparent;
  border-radius: 10px;
  padding: 5px 10px;
  outline: 1px solid blue;
  color: blue;
  cursor: pointer;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.category-header {
  color: gray;
  font-weight: 500;
}

.category-content {
  font-weight: 700;
}

.edit-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.edit-form-content {
  background-color: white;
  padding: 30px 35px;
  border-radius: 20px;
  position: relative;
}

.close-button {
  position: absolute;
  top: 5%;
  right: 5%;
  font-weight: 500;
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: 30px;
  cursor: pointer;
}

.edit-form-header {
  font-size: 25px;
  margin: 0;
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
}

form input {
  border: none;
  outline: 1px solid gray;
  border-radius: 5px;
  padding: 10px 15px;
}

form select {
  border: none;
  outline: 1px solid gray;
  border-radius: 5px;
  padding: 10px 15px;
}

.save-button {
  color: white;
  background-color: blue;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  padding: 15px 10px;
  cursor: pointer;
}
