body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px;
}

.progress-container {
  width: 500px;
  border: 1px solid gray;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}

#progress-bar {
  background-color: purple;
  height: 20px;
  width: 500px;
  transform-origin: left;
  transform: scaleX(0);
}
