body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightblue;
  position: relative;
}

.card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: white;
  border-radius: 15px;
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.card-image {
  width: 150px;
}

.card-image img {
  width: 100%;
}

.card-text {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}

.card-button {
  font-weight: 700;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 15px;
  border: none;
  background-color: skyblue;
  cursor: pointer;
}
